# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\python\GLA-Toolkit\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/

.idea/Party-Theater.iml
.idea/misc.xml
